---
import Comment from './Comment.astro';

const COMMENTS = [
    {
        author: 'Karina',
        stars: 5,
        comment: 'Me parecio un buen servicio, todo de calidad'
    },
    {
        author: 'Pricila',
        stars: 5,
        comment: 'Excelente servicio, entregan en tiempo y forma'
    },
    {
        author: 'Israel',
        stars: 4,
        comment: 'Buena calidad de productos y servicio'
    }
];
---
<div class="flex flex-wrap justify-center items-center gap-3">
    {
        COMMENTS.map(({ author, stars, comment }) => (
            <Comment 
            name={author}
            stars={stars}
            comment={comment}   />
        ))
    }
</div>