---




---

<form action="https://formspree.io/f/mgebjoke" method="POST" class="flex flex-col w-fll max-w-[700px] mx-auto mt-10">
            
    <label class="form-label" class="mb-2">Nombres:</label>
    <input type="text" name="Nombre" placeholder="Escriba aqui su nombre" required="" class="w-full p-3 bg-[#ececec] border-b-2 border-red-500 outline-none mb-4">

    <label class="form-label" class="mb-2">Asunto:</label>
    <input type="text" name="Asunto" placeholder="Escriba aquí el asunto" required="" class="w-full p-3 bg-[#ececec] border-b-2 border-red-500 outline-none mb-4">

    <label class="form-label" class="mb-2">Correo electrónico:</label>
    <input type="text" name="Correo" placeholder="Escriba aquí su correo" required="" class="w-full p-3 bg-[#ececec] border-b-2 border-red-500 outline-none mb-4">

    <label class="form-label" class="mb-2">Mensaje:</label>
    <textarea name="Mensaje" placeholder="Aquí escriba su mensaje" required="" class="w-full p-3 bg-[#ececec] border-b-2 border-red-500 outline-none resize-none mb-4"></textarea>

    <button type="submit" class=" w-full p-3 bg-red-500 text-white hover:bg-red-400 transition-colors duration-200 shadow-md">Enviar mensaje</button>

</form>